		.masthead.segment{
			min-height: 250px;
		}

		.masthead h1.ui.header{
			margin-top: 2.5em;
			font-size: 2.2em;
		}

		.masthead .header,
		.masthead h2{
			margin-left: -7em;
		}

		#pasang{
			padding-top: 2em;
		}

		#campaign .right.item{
			width: 300px;
		}

		#campaign .menu .dropdown{
			font-size: 1.2rem;
			color: grey;
		}

		.secondary.menu{
			visibility: hidden;
			display: none;
		}

		#campaign .secondary.menu{
			visibility: visible;
			display: inline;
		}

		#campaign .container{
			margin-top: -5em;
		}

		@media only screen and (max-width: 700px) {
 		 .ui.fixed.menu {
 			 display: block !important;
 			 visibility: visible !important;
 		 }
		 .ui.fixed.menu .right #register	{
			 display: none;
		 }
		 .fixed.menu .toc label{
			 display: none;
		 }
		 .fixed.menu .right
		 /* Show this at login */
		 .ui.fixed.menu .right .icon {
			 display: none;
		 }
		 #campaign .secondary.menu{
			 visibility: hidden;
			 display: none;
		 }
	 }
