body {
  background-color: #DADADA;
	overflow: visible;
	padding-top: 80px;
	padding-bottom: 100px;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 650px;
}
.footer p{
	padding-top: 10px;
	padding-bottom: 20px;
}
